body {
    font-family: arial, helvetica, sans-serif;
}
/* regole generali */
#plus img, #now img {
    width: 100%;
    height: auto;
}
#plus .text-left img, #now .text-left img {
    width: 70%;
    height: auto;
}
#plus button, #now button {
    color: #2d64e6;
    font-weight: 600;
}
.fl-brt {
    filter: opacity(50%);
}
.sub-title {
    color: #888;
    font-size: 20px;
}
/* regole nav-bar components BS5 */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 76px;
    font-size: 18px;
    font-weight: 600;    
}
#meu-nav .nav-link {
    color: #000;
}
#icon-search {
    margin-left: 20px;
    font-size: 20px;
}
/* regole generali jumbo 1/2 */
.jumbotron {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 50px 0;
}
.text-jumbo {
    padding-top: 250px;
    color: #fff;
}
.jumbotron .title-jumbo-img {
    width: 250px;
    height: auto;
}
.text-jumbo h1 {
    font-size: 45px;
    margin-bottom: 30px;
}
.btn-warning:focus {
    box-shadow: none;
}
.btn-warning {
    background-color: #cd3d0f;
    border-color: #cd3d0f;
    color: #fff;
}

/* jumbo 1 */
#bg-image-jumbo {
    background-image: url(../img/jumbo-bg.png);
    min-height: 675px;
}
#more-img-jumbo img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}
#more-img-jumbo .active {
    border: 2px solid #0072ce;
    border-radius: 20px;
    padding: 2px;
}

/* sez presentation playstation */
#presentation a {
    text-decoration: none;
}
#presentation span {
    color: #555;
}
#presentation #playstation-5 {
    width: 100%;
}
#presentation .thumb {
    width: 60%;
}
#presentation figure {
    text-align: center;
}
#presentation figure figcaption span {
    vertical-align: super;
    font-size: 10px;
}
#presentation figure.active figcaption  {
    padding-bottom: 20px;
    border-bottom: 1px solid #0072ce;
}
/* jumbo 2 */
#jumbotron-img-two {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);

}
#jumbotron-img-two .text-jumbo img {
    width: 250px;
    height: auto;
}
#jumbotron-img-two .text-jumbo {
    padding: 0;
}
/* sez nuove uscite */
#new {
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #1f1f1f;
    color: #fff;
}
#new .row img {
    width: 100%;
    border-radius: 20px;
}
#new figure figcaption {
    margin-top: 10px;
}
#new figure figcaption span {
    vertical-align: super;
    font-size: 10px;
}
/* more playstation */
#more {
    padding: 80px 0;
}
#more h1 span {
    vertical-align: super;
    font-size: 24px;
}
.title {
    text-align: center;
}
#more .content h2 {
    font-weight: bold;
}
#more .content img {
    width: 100%;
    height: auto;
}
/* play plus */
#plus {
    width: 100%;
    background-color: #bebcbb;
}
#plus button {
    background-color: #d9dadc;
    border-color: #d9dadc;
}
/* sales */
#sales {
    text-align: center;
}
#sales img {
    width: 100%;
}

/* play-now */
#now {
    color: #fff;
    width: 100%;
    background-color: #161c3b;
}
/* social */
#social {
    text-align: center;
}
#social img {
    width: 90%;
}
/* footer */
footer {
    background-color: #00439c;
    color: #fff;
    font-size: 14px;
}
/* footer up */
footer #logo {
    width: 150px;
    height: auto;
}
#region {
    display: flex;
    align-items: center;
}
#globe {
    width: 20px;
    height: auto;
    margin-right: 10px;
}
footer ul {
    list-style-type: none;
    padding: 0;
}
footer ul li a {
    display: block;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
}
/* footer down */
#sie {
    width: 150px;
    height: auto;
}
footer .info {
    color: #fff;
}
/* media query */
@media all and (max-width: 768px) {
    .text-right {
        display: none;
    }
}