body {
    font-family: arial, helvetica, sans-serif;
    overflow-x: hidden;
}

/* regole generali */
#plus img, #now img {
    width: 100%;
    height: auto;
}
#plus .text-left img, #now .text-left img {
    width: 70%;
    height: auto;
}
#plus button, #now button {
    color: #2d64e6;
    font-weight: 600;
}



/* regole nav-bar components BS5 */
#container-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    font-size: 18px;
    font-weight: 600;
}
#container-nav-bar .nav-link {
    color: #000;
}
#icon-search {
    margin-left: 20px;
    font-size: 20px;
}

/* regole Jumbotron */
#jumbotron {
    margin-top: 80px;
}
#jumbotron #bg-image {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-bottom: 50px;
}
#jumbotron .text-jumbo {
    padding-top: 350px;
    color: #fff;
}
#jumbotron img {
    width: 250px;
    height: auto;
}
#jumbotron .text-jumbo h1 {
    font-size: 45px;
    margin-bottom: 30px;
}
#jumbotron .btn-warning:focus {
    box-shadow: none;
}
#jumbotron .btn-warning {
    background-color: #cd3d0f;
    border-color: #cd3d0f;
    color: #fff;
}

#more-img-jumbo img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}
#more-img-jumbo .active {
    border: 2px solid #0072ce;
    border-radius: 20px;
    padding: 2px;
}

/* sez presentation playstation */
#presentation a {
    text-decoration: none;
}
#presentation span {
    color: #555;
}
#presentation #playstation-5 {
    width: 100%;
}
#presentation .thumb {
    width: 60%;
}
#presentation figure {
    text-align: center;
}
#presentation figure figcaption span {
    vertical-align: super;
    font-size: 10px;
}
#presentation figure.active figcaption  {
    padding-bottom: 20px;
    border-bottom: 1px solid #0072ce;
}

/* jumbotron 2 */
/* debug */
.jumbotron {
    width: 100%;
    min-height: 400px;
    background-color: red;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 50px 0;
}
.jumbotron .text-jumbo {
    color: #fff;
}
.jumbotron .text-jumbo img {
    width: 250px;
    height: auto;
}
.jumbotron .text-jumbo h1 {
    margin-bottom: 30px;
}
.jumbotron .text-jumbo button {
    margin-top: 30px;
}

/* sez nuove uscite */
#new {
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #1f1f1f;
    color: #fff;
}
#new .row img {
    width: 100%;
    border-radius: 20px;
}
#new figure figcaption {
    margin-top: 10px;
}
#new figure figcaption span {
    vertical-align: super;
    font-size: 10px;
}

/* more playstation */
#more {
    padding: 80px 0;
}
#more h1 span {
    vertical-align: super;
    font-size: 24px;
}
.title {
    text-align: center;
}
#more .content h2 {
    font-weight: bold;
}
#more .content img {
    width: 100%;
    height: auto;
}
/* play plus */
#plus {
    width: 100%;
    background-color: #bebcbb;
}

/* sales */
#sales {
    text-align: center;
}
#sales img {
    width: 100%;
}

/* play-now */
#now {
    color: #fff;
    width: 100%;
    background-color: #161c3b;
}





/* media query */
@media all and (max-width: 768px) {
    .text-right {
        display: none;
    }
}